#body{
    height: 1000px;
    text-align: center; 
    font-family: 'Lexend Exa', sans-serif;
}

nav{
    margin-bottom: 50px;
}

h1{
    margin-bottom: 50px;

}

p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

.logos{
    width: 100px;
    height: 100px;
    float:left;
}

#gitImg{
    height: 30px;
    width:  30px;
    margin-right:10px;
}

#inImg{
    height: 30px;
    width:  30px;
}

.logos{
    margin-left: 8%;

}

#email{
 
    height: 30px;
    width:  30px;
    margin-right:20px;
}

.allLogos{

    margin-top: 5%;
}

#resume{
    height:200px;
    width:200px;
}

#phone{
    padding-left: 20%;

}
  
.allLogos{
    margin-bottom: 20%; 

}

.contact{
     font-family: 'Lexend Exa', sans-serif;
}

