#body{
    
    text-align: center; 
    font-family: 'Lexend Exa', sans-serif;
}

nav{
    margin-bottom: 50px;
}

h1{
    margin-bottom: 50px;

}

p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

.logos{
    width: 100px;
    height: 100px;
    float:left;
}